certifi
chardet
click
dominate
Flask
Flask-Bootstrap
Flask-CKEditor
Flask-PyMongo
Flask-WTF
idna
itsdangerous
Jinja2
json-log-formatter
MarkupSafe
prometheus_flask_exporter
pymongo
urllib3
visitor
Werkzeug
WTForms